<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/scripts/script.js"></script>
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>Pruebas</title>
</head>
<body>
    <h1>Hola Mundo</h1>
    <!-- Realizar un formulario para enviar datos-->
    <form action="/" method="post">
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="submit" value="Enviar">
    </form>
</body>
</html>